body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

canvas {
    border: 15px solid #000;
    background-color: #3fd9d9;
}
